{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Log</title>
    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Live2DCubismCore -->
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/frame/live2dcubismcore.min.js"></script>
    <!-- Include Pixi. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.6.1/pixi.min.js"></script>
    <!-- Include Cubism Components. -->
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/live2dcubismframework.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/live2dcubismpixi.js"></script>
    <!-- User's Script -->
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/l2d.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/litstronger/live2d-moc3@master/js/main.js"></script>


    {%load django_bootstrap5%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <!-- 代码高亮样式 -->
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4border">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'learning_logs:index'%}">
        Learning Log
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'learning_logs:topics'%}">
              Topics
            </a>
          </li>
        </ul>
        <!-- 与账户相关的链接 -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {%if user.is_authenticated%}
            <li class="nav-item">
              <span class="navbar-text me-2">
                Hello,{{user.username}}
              </span>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'accounts:register'%}">Rigister</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'accounts:login'%}">
                Log in
              </a>
            </li>
            {%endif%}
          </ul>
          {%if user.is_authenticated%}
          <form action="{%url 'accounts:logout'%}" method="post">
            {%csrf_token%}
            <button name="submit" class="btn btn-outline-secondary btn-sm">Log out</button>
          </form>
          {%endif%}
        </div>
      </div>
    </nav>
    <!-- 定义导航栏的代码到此结束 -->
    <main class="container">
      <div class="pb-2 mb-2 border-bottom">
        {%block page_header%}{%endblock page_header%}
      </div>
      <div>
        {%block content%}{%endblock content%}
      </div>
    </main>
    
    <div class="Canvas"  id="L2dCanvas">
    <script>
        var config = {
            width: window.innerWidth*0.8,
            height: window.innerHeight/2,
            left: window.innerHeight+'px',
            bottom: '0px',
            basePath: 'https://cdn.jsdelivr.net/gh/alg-wiki/AzurLaneL2DViewer@gh-pages/assets',
            role: 'xuefeng_3',
            opacity: 1,
            mobile: false
        }
        var v = new Viewer(config); 
    </script>
    </div>
</body>
</html> 